@model PWC.Entities.VMs.UI.Account.LoginVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsStickyHeader = 1;
}
<main>
    <div class="login" id="Login">
        <div class="content">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @Class = "login-form" }))
            {
            <h3 class="text-header pb-3">@PWC.Resources.UI.Account.Login.SignIn</h3>
                <div id="ErrorDivLoginIn" class="mt-2">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="alert fade in">
                            @Html.ValidationSummary()
                        </div>
                    }
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { id = "username-login", Class = "form-control mb-3", placeholder = PWC.Resources.UI.Account.Login.UserName, type = "text", autocomplete = "off" })

                    @Html.TextBoxFor(m => m.Password, new { id = "password-login", Class = "form-control mb-3", placeholder = PWC.Resources.UI.Account.Login.Password, type = "Password", autocomplete = "off" })
                </div>

                <div class="form-group">
                    <button type="submit" id="submite" class="btn_1 rounded full-width"> @PWC.Resources.UI.Account.Login.SignIn </button>
                </div>
            }
        </div>
    </div>
</main>

@section PageCSS{
    <link href="@(ViewBag.StaticResources)/css/pages/login.css@(ViewBag.BundleVersion)" rel="stylesheet" />
}